[package]
name = "medea-macro"
version = "0.2.0-dev"
edition = "2018"
description = "Don't use this crate directly. It is internal to Medea."
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
license = "MPL 2.0"
# documentation = "https://docs.rs/medea-macro"
repository = "https://github.com/instrumentisto/medea"

[lib]
proc-macro = true

[dependencies]
Inflector = "0.11"
proc-macro2 = "0.4"
quote = "0.6"
syn = { version = "0.15", features = ["full"] }
