[package]
name = "medea-macro"
version = "0.1.0"
edition = "2018"
description = "Macros for Medea media server project"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
# documentation = "https://docs.rs/medea-macro"
publish = false
repository = "https://github.com/instrumentisto/medea"

[lib]
proc-macro = true

[dependencies]
Inflector = "0.11"
proc-macro2 = "0.4"
quote = "0.6"
syn = { version = "0.15", features = ["full"] }
