*

# Medea sources and manifest.
!Cargo.toml
!Cargo.lock
!src/

# Medea uses this sub-crates.
!crates/
!proto/

# We don't need Jason while building Medea, but since it's in Medea's workspace,
# Cargo should be able to see these files.
!jason/Cargo.toml
!jason/src/lib.rs

# Medea dependencies cache.
!.cache/cargo/

# Here we have some scripts which install missing toolchains for CI
# but it usable for Docker images also.
!_ci

# !target/{mode} is added and removed dynamically to reduce image build times.
