*

# Medea sources and manifest.
!Cargo.toml
!Cargo.lock
!src/

# Project sub-crates.
!crates/
!mock/
!proto/

# Jason sources, assets and manifest.
!jason/Cargo.toml
!jason/src/
!jason/demo/chart/medea-demo/conf/
!jason/demo/index.html

# E2E tests sources and manifest.
!e2e/Cargo.toml
!e2e/src/

# Makefile may be used in Dockerfiles.
!.env
!Makefile
