*

# Medea sources and manifest.
!Cargo.toml
!Cargo.lock
!src/

# Medea uses this sub-crates.
!crates/
!proto/

# We don't need Jason while building Medea, but since it's in Medea's workspace,
# Cargo should be able to see these files.
!jason/Cargo.toml
!jason/src/
!jason/demo/chart/medea-demo/conf/
!jason/demo/index.html

# Medea dependencies cache.
!.cache/cargo/

# !target/{mode} is added and removed dynamically to reduce image build times.
