[package]
name = "medea"
version = "0.1.0-dev"
edition = "2018"
description = "Medea media server"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
# documentation = "https://docs.rs/medea"
readme = "README.md"
repository = "https://github.com/instrumentisto/medea"

[workspace]
members = [
    "jason",
    "crates/state-machine-shared-fn-accessor"
]

[profile.release]
lto = "thin"

[dependencies]
actix = "0.7"
actix-web = "0.7"
config = "0.9"
chrono = "0.4"
dotenv = "0.13"
failure = "0.1"
futures = "0.1"
hashbrown = "0.1"
humantime = "1.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slog = "2.4"
slog-envlogger = "2.1"
slog-stdlog = "3.0"
slog-async = "2.3"
slog-json = "2.3"
slog-scope = "4.1"
smart-default = "0.5"
toml = "0.4"
state-machine-shared-fn-accessor = { path = "crates/state-machine-shared-fn-accessor" }
[dependencies.serde-humantime]
    git = "https://github.com/tailhook/serde-humantime"
    branch = "serde_wrapper"

[dev-dependencies]
serial_test = "0.2"
serial_test_derive = "0.2"
tokio = "0.1"
