[package]
name = "medea"
version = "0.1.0-dev"
edition = "2018"
description = "Medea media server"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
# documentation = "https://docs.rs/medea"
readme = "README.md"
repository = "https://github.com/instrumentisto/medea"

[dependencies]
actix = "0.7"
actix-web = "0.7"
config = "0.9"
chrono = "0.4"
dotenv = "0.13"
failure = "0.1"
futures = "0.1"
hashbrown = "0.1"
humantime = "1.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slog = "2.4"
slog-envlogger = "2.1"
slog-stdlog = "3.0"
slog-async = "2.3"
slog-json = "2.3"
slog-scope = "4.1"
toml = "0.4"

[dev-dependencies]
serde_test = "1.0"
serial_test = "0.2"
serial_test_derive = "0.2"
