[package]
name = "medea"
version = "0.2.0-dev"
edition = "2018"
description = "Medea media server"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
license = "MPL-2.0"
documentation = "https://docs.rs/medea"
homepage = "https://github.com/instrumentisto/medea"
repository = "https://github.com/instrumentisto/medea"
readme = "README.md"
keywords = ["medea", "media-server"]
categories = ["multimedia"]
include = ["/src/", "/Cargo.*", "/CHANGELOG.md", "/LICENSE.md", "/README.md"]

[workspace]
members = [
    "crates/medea-macro",
    "jason",
    "mock/control-api",
    "proto/client-api",
    "proto/control-api",
]

[profile.release]
lto = "thin"

[dependencies]
actix = "0.8"
actix-web = "1.0"
actix-web-actors = "1.0"
bb8 = "0.3"
bb8-redis = "0.3"
chrono = "0.4"
config = "0.9"
derive_more = "0.99"
dotenv = "0.15"
failure = "0.1"
futures = "0.1"
grpcio = { version = "0.4", features = ["openssl"] }
humantime-serde = "0.1"
medea-client-api-proto = { path = "proto/client-api", features = ["medea"] }
medea-control-api-proto = { path = "proto/control-api" }
medea-macro = { path = "crates/medea-macro" }
protobuf = "2.7"
rand = "0.7"
redis = "0.11"
rust-crypto = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
slog = "2.5"
slog-async = "2.3"
slog-envlogger = "2.2"
slog-json = "2.3"
slog-scope = "4.1"
slog-stdlog = "4.0"
smart-default = "0.5"
tokio = "0.1"
tokio-signal = "0.2"
toml = "0.5"
url = "2.1"

[dev-dependencies]
actix-codec = "0.1"
actix-http = "0.2"
actix-http-test = "0.2"
awc = "0.2"
derive_builder = "0.9"
serial_test = "0.2"
serial_test_derive = "0.2"
tempfile = "3.1"
