[server.client.http]
# Client API HTTP server's public URL.
# It's assumed that HTTP server can be reached via this URL externally.
#
# Env var: MEDEA_SERVER__CLIENT__HTTP__PUBLIC_URL
# Default:
#   public_url = "ws://127.0.0.1:8080/ws"

# IP address to bind Client API HTTP server to.
#
# Env var: MEDEA_SERVER__CLIENT__HTTP__BIND_IP
# Default:
#   bind_ip = "0.0.0.0"

# Port to bind Client API HTTP server to.
#
# Env var: MEDEA_SERVER__CLIENT__HTTP__BIND_PORT
# Default:
#   bind_port = 8080

[server.control.grpc]
# IP address to bind Control API gRPC server to.
#
# Env var: MEDEA_SERVER__CONTROL__GRPC__BIND_IP
# Default:
#   bind_ip = "0.0.0.0"

# Port to bind Control API gRPC server to.
#
# Env var: MEDEA_SERVER__CONTROL__GRPC__BIND_PORT
# Default:
#   bind_port = 6565




[control]
# Path to directory with static Ð¡ontrol API specs.
#
# Env var: MEDEA_CONTROL__STATIC_SPECS_DIR
# Default:
#   static_specs_dir = "specs/"




[rpc]
# Duration, after which remote RPC client will be considered idle if no
# heartbeat messages received.
#
# Env var: MEDEA_RPC__IDLE_TIMEOUT
# Default:
#   idle_timeout = "10s"

# Duration, after which the server deletes client session if remote RPC client
# does not reconnect after it is idle.
#
# Env var: MEDEA_RPC__RECONNECT_TIMEOUT
# Default:
#   reconnect_timeout = "10s"

# Interval between pings that server sends to clients.
#
# Env var: MEDEA_RPC__PING_INTERVAL
# Default:
#   ping_interval = "3s"




[turn]
# Turn server host.
#
# Env var: MEDEA_TURN__HOST
# Default:
#   host = "localhost"

# Turn server port.
#
# Env var: MEDEA_TURN__PORT
# Default:
#   port = 3478

# Static user on Turn server.
#
# Env var: MEDEA_TURN__USER
# Default:
#   user = "USER"

# Static user password on Turn server.
#
# Env var: MEDEA_TURN__PASS
# Default:
#   pass = "PASS"

[turn.db.redis]
# Host of Coturn's Redis database.
#
# Env var: MEDEA_TURN__DB__REDIS__HOST
# Default:
#   host = "127.0.0.1"

# Port of Coturn's Redis database for client connections.
#
# Env var: MEDEA_TURN__DB__REDIS__PORT
# Default:
#   port = 6379

# Password to connect to Coturn's Redis database with.
#
# Env var: MEDEA_TURN__DB__REDIS__PASS
# Default:
#   pass = "turn"

# Number of Coturn's database in Redis.
#
# Env var: MEDEA_TURN__DB__REDIS__DB_NUMBER
# Default:
#   db_number = 0

# Timeout for establishing connection with Coturn's Redis database.
#
# Env var: MEDEA_TURN__DB__REDIS__CONNECTION_TIMEOUT
# Default:
#   connection_timeout = "5s"

[turn.cli]
# Coturn server host.
#
# Env var: MEDEA_TURN__CLI__IP
# Default:
#   host = "127.0.0.1"

# Port of Coturn's Redis database for client connections.
#
# Env var: MEDEA_TURN__CLI__PORT
# Default:
#   port = 5766

# Port of Coturn's Redis database for client connections.
#
# Env var: MEDEA_TURN__CLI__PASS
# Default:
#   pass = "turn"

[turn.cli.pool]
# Maximum connection pool size.
#
# Env var: MEDEA_TURN__CLI__POOL__MAX_SIZE
# Default:
#   max_size = 16

# Timeout when waiting for an available connection. 0 means no timeout and is
# not recommended.
#
# Env var: MEDEA_TURN__CLI__POOL__WAIT
# Default:
#   wait = "5s"

# Timeout when creating a new connection. 0 means no timeout and is not
# recommended.
#
# Env var: MEDEA_TURN__CLI__POOL__CREATE
# Default:
#   create = "5s"

# Timeout when recycling connection. 0 means no timeout and is not
# recommended.
#
# Env var: MEDEA_TURN__CLI__POOL__RECYCLE
# Default:
#   recycle = "5s"




[log]
# Maximum allowed level of application log entries.
#
# Env var: MEDEA_LOG__LEVEL
# Possible values:
#   "OFF", "CRITICAL", "ERROR", "WARN", "INFO", "DEBUG", "TRACE"
#
# Default:
#   level = "INFO"




[shutdown]
# Maximum duration given to shutdown the whole application gracefully.
#
# Env var: MEDEA_SHUTDOWN__TIMEOUT
# Default:
#   timeout = "5s"
