[package]
name = "medea-control-api-mock"
version = "0.1.0-dev"
edition = "2018"
description = "Mock server for Medea's control API."
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
readme = "README.md"
repository = "https://github.com/instrumentisto/medea"
publish = false

[dependencies]
actix = "0.9"
actix-rt = "1.0"
actix-cors = "0.2"
actix-web = "2.0"
clap = "2.33"
dotenv = "0.13"
futures = "0.1"
humantime-serde = "1.0"
tonic = "0.1"
medea-control-api-proto = { path = "../../proto/control-api" }
protobuf = "2.7"
serde = { version = "1.0", features = ["derive"] }
slog = "2.4"
slog-async = "2.3"
slog-envlogger = "2.1"
slog-scope = "4.1"
slog-stdlog = "3.0"
slog-term = "2.3"
