[package]
name = "medea-client-api-proto"
version = "0.1.0-dev"
edition = "2018"
description = "Client API protocol implementation for Medea media server"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
homepage = "https://github.com/instrumentisto/medea"
readme = "README.md"
repository = "https://github.com/instrumentisto/medea"

[features]
default = ["jason", "medea"]
jason = []
medea = []

[dependencies]
medea-macro = { path = "../../crates/medea-macro" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# TODO: move it into features
newtype_derive = "0.1"
macro-attr = "0.2"
