[package]
name = "medea-control-api-proto"
version = "0.1.0-dev"
edition = "2018"
description = "Control API protocol implementation for Medea media server"
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
license = "MIT/Apache-2.0"
homepage = "https://github.com/instrumentisto/medea/tree/master/proto/grpc"
repository = "https://github.com/instrumentisto/medea/tree/master/proto/grpc"
readme = "README.md"
keywords = ["medea", "grpc", "control", "api"]
categories = ["api-bindings", "web-programming"]

[features]
default = ["grpc"]
grpc = ["grpcio", "futures", "protobuf", "protoc-grpcio"]

[dependencies]
grpcio = { version = "0.4", optional = true }
futures = { version = "0.1", optional = true }
protobuf = { version = "2.7", optional = true }

[build-dependencies]
protoc-grpcio = { version = "1.0", optional = true }
